.clr_white{
	color: #fff !important;
}

.banner-top {
	background: #da2719 !important;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	color: #fff;
	font-size: 14px;
	padding: .2rem;
}

.hero {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0,0,0,.75);
	-webkit-transform: translate3d(-50%,-50%,0);
	-moz-transform: translate3d(-50%,-50%,0);
	-ms-transform: translate3d(-50%,-50%,0);
	-o-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.hero h1 {
	font-size: 3em;    
	font-weight: bold;
	margin: 0;
	padding: 0;
	color: #fff;
}
.hero h3 {
	color: #fff;
	font-size: 2em;   
}
@media screen and (min-width: 980px){
	.hero { width: 980px; }    
}
@media screen and (max-width: 640px){
	.hero h1 { font-size: 2em; }
}

/*--general--*/
.navbar{
	background: #222;
}
.navbar-expand-md .navbar-nav .nav-link{
	font-weight: bold;
}

.flexColumCenter{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section{
	padding: 3rem;
	padding-top: 6rem;
	padding-bottom: 6rem;
	min-height: 300px;
}

.section.nosotros{
	background: #eee;
}

.section.carniceria,
.section.viveres {
	background: #333;
}

.section.charcuteria{
	background: #fafafa;
}

.card-productos{
    position: relative;
    display: inline-block;
    text-align: center;
}

.card-productos h6{
	color: #222;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    background: rgba(255,255,255, .8);
    border-radius: .3rem;
    padding: .2rem;
}

.img-productos{
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: center center;
	border: 5px solid #333;
	border-radius: .5rem;
	box-shadow: 6px 0px 43px rgba(222, 222, 222, 0.10);
}

.text-bold{
	font-weight: bold;
}