@import 'padding-margin.css';

@font-face{
  font-family: 'Overlock-Regular';
  src: url("../fonts/Overlock-Regular.ttf");
}

body {
  font-family: 'Overlock-Regular', sans-serif;
  color: #a0a6ad;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

p {
  font-size: 16px;
  color: #333;
  line-height: 26px;
  font-family: 'Overlock-Regular', sans-serif;
  margin-bottom: 0;
}

a:hover, a:focus {
  color: #e74c3c;
}

a {
  color: #e74c3c;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5 {
  font-family: 'Overlock-Regular' !important;
  font-weight: 500;
  color: #191c1e;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #fff;
}

.bg-transparent {
  background: transparent !important;
}

.bg-defult {
  background: #e74c3c !important;
}

/* ==========================================================================
   Section Title
   ========================================================================== */
.section {
  padding: 80px 0 65px;
}

.section-header {
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}

.section-header .section-title {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-color: #b6372e;
  background-image: -webkit-linear-gradient(bottom right, #F44336, #b6372e);
  background-image: -o-linear-gradient(bottom right, #F44336, #b6372e);
  background-image: linear-gradient(to top left, #F44336, #b6372e);
  position: relative;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
}

.btn-common {
  background-image: -moz-linear-gradient(0deg, #F44336 0%, #b6372e 100%);
  background-image: -webkit-linear-gradient(0deg, #F44336 0%, #b6372e 100%);
  background-image: -ms-linear-gradient(0deg, #F44336 0%, #b6372e 100%);
  position: relative;
  z-index: 1;
}

.btn-common:hover {
  color: #fff;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.btn-effect {
  overflow: hidden;
}

.btn-effect:after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-effect:hover:after {
  width: 100%;
}

.btn-border {
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  background-color: transparent;
  border-color: #e74c3c;
  color: #e74c3c;
}

.btn-border:hover {
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.btn-border-filled {
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #fff;
  color: #e74c3c;
}

.btn-border-filled:hover {
  color: #e74c3c;
  background-color: #ffffff;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  color: #e74c3c;
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 16px;
}

.btn-rm i {
  vertical-align: middle;
}

.btn-trial {
  background: #fff;
  color: #191c1e;
  padding: 5px 20px;
  margin-left: 30px;
}

.btn-trial:hover,
.btn-trial:active,
.btn-trial:focus {
  color: #e74c3c;
}

.btn-apple {
  border-width: 2px;
  border-color: #F44336;
  border-style: solid;
  background: linear-gradient(to right, #F44336 0%, #b6372e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.btn-apple i {
  background: linear-gradient(to right, #F44336 0%, #b6372e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-apple:hover,
.btn-apple:active,
.btn-apple:focus {
  background: linear-gradient(to right, #F44336 0%, #b6372e 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

button:focus {
  outline: none !important;
}

.btn-border-fill {
  background: #fff;
  border-color: #fff;
  color: #e74c3c;
}

.btn-subtitle, 
.cont-subtitle{
  color: #191c1e;
  font-family: 'Poppins', sans-serif;
  background: #ffe7e5;
  text-align: center;
  border-radius: 30px;
  padding: 6px 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
}

.clear {
  clear: both;
}

.mt {
  margin-top: 80px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.padding-0 {
  padding: 0;
}

/* ==========================================================================
   Social Iocns
   ========================================================================== */
.social-icons {
  margin-bottom: 20px;
}

.social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icons ul li {
  display: inline;
}

.social-icons ul li a {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 254, 254, 0.07);
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
}

.social-icons ul li a:hover {
  color: #fff;
}

.facebook a {
  color: #4867AA;
}

.facebook a:hover {
  background: #4867AA;
}

.twitter a {
  color: #1DA1F2;
}

.twitter a:hover {
  background: #1DA1F2;
}

.google-plus a {
  color: #DD4D42;
}

.google-plus a:hover {
  background: #DD4D42;
}

.youtube a {
  color: #DF2926;
}

.youtube a:hover {
  background: #DF2926;
}

.linkedin a {
  color: #007BB6;
}

.linkedin a:hover {
  background: #007BB6;
}

.pinterest a {
  color: #BD081C;
}

.pinterest a:hover {
  background: #BD081C;
}

.dribbble a {
  color: #EA4C89;
}

.dribbble a:hover {
  background: #EA4C89;
}

.behance a {
  color: #0B7CFF;
}

.behance a:hover {
  background: #0B7CFF;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before, #loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: #e74c3c;
}

#loader-1:before {
  z-index: 100;
  animation: spin 2s infinite;
}

#loader-1:after {
  border: 7px solid #fafafa;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ========================================================================== 
   Scroll To Up 
   ========================================================================== */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  width: 45px;
  height: 45px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.back-to-top i {
  background: linear-gradient(to right, #F44336 0%, #b6372e 100%);
  -webkit-background-clip: text;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* ==========================================================================
   Navbar Style
   ========================================================================== */
.logo-menu a {
  font-size: 20px;
  color: #fff;
}

.menu-bg {
  background: #222 !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  padding: 5px;
}

.menu-bg .menu-button {
  top: 0;
}

.menu-bg .menu-button:hover {
  cursor: pointer;
  color: #e74c3c;
}

.menu-bg .logo-menu a {
  color: #e74c3c;
}

.menu-bg .navbar-nav .nav-link {
  color: #ffffff !important;
}

.menu-bg .navbar-nav .nav-link:hover {
  color: #ffffff !important;
}

.menu-bg .navbar-nav .active {
  color: #ffffff !important;
}

.navbar-expand-md .navbar-nav .nav-link {
  color: #fff;
  font-size: 15px;
  padding: 5px 0px;
  margin-left: 30px;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.navbar-expand-md .navbar-nav .nav-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #dd3f33;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.navbar-expand-md .navbar-nav .active::before,
.navbar-expand-md .navbar-nav .nav-link:hover::before {
  width: 100%;
}

.navbar-brand {
  color: #fff;
}

.navbar-expand-md .navbar-nav .nav-link:focus,
.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover:before {
  color: #ffffff;
}

.navbar-expand-md .navbar-nav .active > .nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.active:before,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open > .nav-link {
  color: #ffffff;
}

.navbar-expand-md .navbar-toggler {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
  float: right;
}

.navbar-expand-md .navbar-toggler i {
  color: #fff !important;
}

.navbar-expand-md .navbar-toggler:focus {
  outline: none;
}

/* ==========================================================================
   Hero Area
   ========================================================================== */
.header-home {
  background: #F44336;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.header-home .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #022730;
}

.header-home .contents {
  padding: 160px 0 140px;
}

.header-home .contents h1 {
  color: #e74c3c;
}

.header-home .contents h4 {
  color: #fff;
}

.header-home .contents h2 {
  color: #fff;
  font-size: 42px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 25px;
}

.header-home .contents p {
  color: #fff;
  font-size: 14px;
  line-height: 26px;
}

.header-home .contents .btn {
  margin-top: 40px;
  margin-right: 20px;
  text-transform: uppercase;
}

.header-home .contents .btn-border {
  border: 2px solid #fff;
  color: #fff;
}

.header-home .intro-img {
  padding: 148px 0 0px;
}

.header-home .intro-img img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* ==========================================================================
   About 
   ========================================================================== */
#about {
  padding-bottom: 80px !important;
}

#about .about-content {
  height: 100%;
  width: 100%;
  display: table;
}

#about .about-content > div {
  vertical-align: middle;
  display: table-cell;
}

#about .about-content h3 {
  font-size: 30px;
  font-weight: 700;
}

#about .about-content h5 {
  font-size: 15px;
  color: #999;
  margin-bottom: 20px;
}

#about .about-content p {
  font-size: 15px;
  margin-bottom: 10px;
}

#about .about-content .btn {
  margin-top: 15px;
}

#carousel-screen {
  margin-top: 15px;
}

/* ==========================================================================
   Video promo Style
   ========================================================================== */
.video-promo {
  background-image: -moz-linear-gradient(0deg, #F44336 0%, #b6372e 100%);
  background-image: -webkit-linear-gradient(0deg, #F44336 0%, #b6372e 100%);
  background-image: -ms-linear-gradient(0deg, #F44336 0%, #b6372e 100%);
}

.video-promo .video-promo-content {
  color: #fff;
  margin-bottom: 15px;
}

.video-promo .video-promo-content .video-popup {
  width: 80px;
  height: 80px;
  background: #fff;
  line-height: 80px;
  text-align: center;
  border: 3px solid #fff;
  color: #e74c3c;
  border-radius: 50%;
  display: inline-block;
  font-size: 26px;
}

.video-promo .video-promo-content .video-popup:hover {
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.video-promo .video-promo-content h2 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}

.video-promo .video-promo-content p {
  color: #fff;
}

/* ==========================================================================
   Screenshot Style
   ========================================================================== */
#productos {
  padding-bottom: 80px !important;
}

#productos .screenshot-thumb {
  margin: 15px;
  text-align: center;
}

#productos .screens-slider {
  position: relative;
}

#productos .screens-slider .item img {
  max-width: 100%;
  height: auto;
}

#productos .screens-slider .owl-controls .owl-buttons {
  position: relative;
  top: -155px;
  left: 0;
}

#productos .screens-slider .owl-controls .owl-buttons div.owl-prev {
  float: left;
  margin-left: -50px;
}

#productos .screens-slider .owl-controls .owl-buttons div.owl-next {
  float: right !important;
  margin-right: -50px;
}


/* Services Item */
.services-item {
  padding: 15px;
  background: #fff;
  position: relative;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.services-item .icon {
  margin-bottom: 20px;
}

.services-item .icon i {
  font-size: 42px;
  line-height: 60px;
  background: linear-gradient(to right, #F44336 0%, #b6372e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.services-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.services-item p {
  margin: 0;
}

.feature-content {
  background: #f6fbfd;
}

.single-feature {
  background: #fff;
  margin: 15px 0;
  padding: 60px 50px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0px 0px 16px rgba(131, 131, 131, 0.17);
  transition: all 0.3s ease 0s;
}

.single-feature i {
  font-size: 42px;
  background: linear-gradient(to right, #F44336 0%, #b6372e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-bottom: 30px;
}

.single-feature h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 0;
  text-transform: capitalize;
}

.single-feature:hover {
  box-shadow: 0px 0px 16px rgba(131, 131, 131, 0.35);
}

/* ==========================================================================
    App Features Section Style
   ========================================================================== */
.app-features {
  background: #1c1b19;
}

.app-features .img-productos{
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: 6px 0px 43px rgba(222, 222, 222, 0.10);
}

.app-features .content-left {
  position: relative;
}

.app-features .content-left span {
  float: right;
  margin-left: 25px;
}

.app-features .content-right {
  position: relative;
}

.app-features .content-right span {
  float: left;
  margin-right: 25px;
}

.app-features .box-item {
  margin: 30px 0;
}

.app-features .box-item .icon {
  text-align: center;
  margin: 0 15px;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  text-align: center;
  position: relative;
  background-image: -moz-linear-gradient(0deg, #F44336 0%, #b6372e 100%);
  background-image: -webkit-linear-gradient(0deg, #F44336 0%, #b6372e 100%);
  background-image: -ms-linear-gradient(0deg, #F44336 0%, #b6372e 100%);
  z-index: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.app-features .box-item .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 60px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.app-features .box-item .text h4 {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 22px;
}

.app-features .box-item .text p {
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

.app-features .content-left .text {
  margin-right: 90px;
}

.app-features .content-right .text {
  margin-left: 90px;
}

.app-features .show-box {
  text-align: center;
  margin: 15px 0;
}

.app-features .show-box img {
  width: 100%;
}

/* ==========================================================================
 Screens Section Start
 ========================================================================== */
.screens-shot {
  background: #f6fbfd;
}

#screens .owl-controls .owl-buttons {
  position: relative;
  top: -215px;
  left: 0;
}

#screens .owl-controls .owl-buttons div.owl-prev {
  float: left;
  margin-left: -60px;
}

#screens .owl-controls .owl-buttons div.owl-next {
  float: right !important;
  margin-right: -60px;
}

.owl-theme .owl-controls .owl-buttons div {
  width: 40px;
  height: 40px;
  display: block !important;
  background-image: -moz-linear-gradient(0deg, #F44336 0%, #b6372e 100%) !important;
  background-image: -webkit-linear-gradient(0deg, #F44336 0%, #b6372e 100%) !important;
  background-image: -ms-linear-gradient(0deg, #F44336 0%, #b6372e 100%) !important;
  text-align: center;
  display: inline-block;
  opacity: 1 !important;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.owl-theme .owl-controls .owl-buttons div:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.8 !important;
}

.owl-theme .owl-controls .owl-buttons div i {
  color: #ffffff;
  font-size: 20px;
  line-height: 35px;
}

/* ==========================================================================
  Slider
   ========================================================================== */
#carousel-area {
  overflow: hidden;
  position: relative;
}

#carousel-area .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: -moz-linear-gradient(0deg, #F44336 0%, #b6372e 100%);
  background-image: -webkit-linear-gradient(0deg, #F44336 0%, #b6372e 100%);
  background-image: -ms-linear-gradient(0deg, #F44336 0%, #b6372e 100%);
  opacity: 0.6;
}

#carousel-area .carousel-item .carousel-caption {
  top: 32%;
  right: 12%;
  left: 12%;
  text-shadow: none;
  padding-top: 0;
  padding-bottom: 0;
}

#carousel-area .carousel-item .carousel-caption h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 25px;
  color: #fff;
}

#carousel-area .carousel-item .carousel-caption p {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 30px;
}

#carousel-area .carousel-item .carousel-caption .btn {
  margin: 0px 10px 0px 0px;
}

#carousel-area .carousel-item .carousel-caption .btn-border {
  border-color: #fff;
  color: #fff;
}

#carousel-area .carousel-control {
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#carousel-area:hover .carousel-control {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

#carousel-area .carousel-control-next, #carousel-area .carousel-control-prev {
  opacity: 1;
}

#carousel-area .carousel-control-next i, #carousel-area .carousel-control-prev i {
  width: 48px;
  line-height: 48px;
  height: 48px;
  color: #e74c3c;
  font-size: 24px;
  display: inline-block;
  background: #fff;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#carousel-area .carousel-agency .carousel-caption h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 25px;
  color: #fff;
}

#carousel-area .carousel-agency .carousel-caption p {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 30px;
}

#carousel-area .carousel-agency .carousel-caption .btn {
  margin: 0px 10px 0px 0px;
}

#carousel-area .carousel-agency .carousel-caption .btn-border {
  border-color: #fff;
  color: #fff;
}

#carousel-area .carousel-control-prev {
  left: 5%;
}

#carousel-area .carousel-control-next {
  right: 5%;
}

#carousel-area .carousel-indicators li:hover,
#carousel-area .carousel-indicators li.active {
  opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 10;
  width: 35px;
  height: 55px;
  top: 50%;
  padding: 10px 5px;
  box-shadow: none;
  background-image: none;
  margin-top: -35px;
  text-shadow: none;
}

#carousel-area .carousel-indicators {
  bottom: 35px;
}

#carousel-area .carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50px;
}

.contents p {
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
}

.contents .header-button .btn i {
  margin-left: 10px;
}

.left, .right {
  cursor: pointer;
  font-size: 30px;
  color: #e74c3c;
}

/* ==========================================================================
   Contact Us
  ========================================================================== */
.form-control {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px 30px;
  font-size: 14px;
  border-radius: 30px;
  text-align: center;
  border: 1px solid #ececec;
  box-shadow: 6px 0px 43px rgba(131, 131, 131, 0.13);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.form-control:focus {
  border: 1px solid #e74c3c;
  outline: none;
  box-shadow: none;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

textarea {
  border-radius: 10px !important;
  text-align: left !important;
}

.contact-info {
  margin-bottom: 15px;
}

.contact-info i {
  font-size: 20px;
  color: #e74c3c;
}

.contact-info h5 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
}

.contact-info p {
  font-size: 14px;
  margin-bottom: 0;
}

#contact {
  background: #ffffff;
  padding-bottom: 80px;
  position: relative;
  text-align: center;
}

#contact h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

#contact .contact-block {
  background: #ffffff;
  overflow: hidden;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 43px 0px rgba(131, 131, 131, 0.23);
}

.offset-top {
  margin-top: -100px;
}

/* Contact Map */
#google-map-area {
  position: relative;
}

#google-map-area .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#msgSubmit {
  margin-bottom: 0;
}

/* ==========================================================================
   Footer Style
   ========================================================================== */
.block-title {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 20px;
  position: relative;
}

footer .footer-Content {
  background-image: -moz-linear-gradient(0deg, #F44336 0%, #b6372e 100%);
  background-image: -webkit-linear-gradient(0deg, #F44336 0%, #b6372e 100%);
  background-image: -ms-linear-gradient(0deg, #F44336 0%, #b6372e 100%);
  color: #546E7A;
}

footer .footer-Content h2 {
  color: #ffffff;
  font-size: 30px;
}

.textwidget {
  line-height: 24px;
  margin-bottom: 10px;
}

.textwidget p {
  font-size: 14px;
  color: #ffffff;
}

footer .menu {
  padding-left: 0;
}

footer .menu li {
  padding-bottom: 12px;
}

footer .menu li a {
  color: #ffffff;
  font-size: 14px;
}

footer .menu li a:hover {
  color: #f1f1f1;
}

.footer-social {
  margin-top: 4px;
}

.footer-social li {
  display: inline-block;
  margin-right: 15px;
}

.footer-social li a {
  color: #fff;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.footer-social li .facebook:hover {
  color: #3b5998;
}

.footer-social li .twitter:hover {
  color: #55acee;
}

.footer-social li .linkedin:hover {
  color: #007bb5;
}

.footer-social li .google-plus:hover {
  color: #dd4b39;
}

.copyright {
  padding: 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  margin-top: 30px;
}

.copyright p {
  margin-bottom: 0;
  color: #fff;
}

.copyright p a {
  color: #ffffff;
}

.copyright p a:hover {
  color: #f1f1f1;
}

.copyright .nav-inline .nav-link {
  color: #ffffff;
  padding: 10px 0;
  margin-left: 10px;
}

.copyright .nav-inline .nav-link:hover {
  color: #e74c3c;
}
